.button {
  -fx-font-weight: bold;
}
.cellDark {
  -fx-effect: innershadow( three-pass-box, black , 10, 0, 0, 0);
  -fx-border-style: solid;
  -fx-border-width: 1;
  -fx-border-radius: 3;
  -fx-border-color: black;
  -fx-background-color: #ccc;
}
.cellDark:disabled {
  -fx-text-fill: #F00;
  -fx-font-weight: bold;
}

.cellLight {
  -fx-effect: innershadow( three-pass-box, black , 10, 0, 0, 0);
  -fx-border-style: solid;
  -fx-border-width: 1;
  -fx-border-radius: 3;
  -fx-border-color: black;
  -fx-background-color: #fff;
}

.cellLight:disabled {
  -fx-text-fill: #F00;
  -fx-font-weight: bold;
}

